.post{
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
}
.genre{
  font-weight: bold;
  gap: 5px;
  background-color: lightgray;
  border-radius: 10px;
  padding: 2px 5px;
  margin-right: 5px;
}
